.clicked {
    background-color: yellow;
}

#board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 400px; 
    margin: 20px auto;
}

.btn{
    display:flex;
    justify-content: center;
    align-items: center;  
}

.message-box {
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 10px auto;
    width: 80%;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    opacity: 0;
}

#message-box.error {
    background-color: red;
    color: white;
    opacity: 1ï¼›
}

#message-box.success{
    background-color: green;
    color: white;
    opacity: 1;
}